/* Colors and fonts */
body {
	background: #F9FAFE;
	color:#3B3837;
	font-family: 'Noto Sans JP', sans-serif;
	font-size: 16px;
	font-weight: lighter;
	text-align: center

}

h1{ 
    color: pink;
    font-family: 'Noto Sans JP', sans-serif;
    letter-spacing: 4px;
    font-size: 65px;
	text-align: center;
     }

h2{ 
	font-size: 30px;
	font-weight: lighter;
	color: #3A4867;
	text
	 }

 a {
 	text-decoration: none;
 	color: pink;
 	font-weight: bold;
 	font-size: 39px;
 	text-align: center;
 }

 a:hover {
 	color: black;
 }

 ul{
 	list-style-type: none;
 	width: 580px;
 }

 #introduction{
background: white;
padding: 60px;
margin: 50px;
border-radius: 50px;
box-shadow: 0px 10px 30px rgba(0,0,0,0.1);}

#cinema{
background: white;
padding: 60px;
margin: 50px;
border-radius: 50px;
box-shadow: 0px 10px 30px rgba(0,0,0,0.1);}

#music{
background: white;
padding: 60px;
margin: 50px;
border-radius: 50px;
box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}

#sports{
background: white;
padding: 60px;
margin: 50px;
border-radius: 50px;
box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}

#follow-me {
background: white;
padding: 60px;
margin: 50px;
border-radius: 50px;
box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}

.reseaux{
align-content: center;
    display: flex;
    justify-content: center;
    padding-left: 550px;
}

.fa-linkedin:before {
    content: "\f08c";
    padding-left: 20px;


 
